#counter {
    position: relative;
    display: inline;
}
#socket
{
 max-width: 60%;

}
#over_pin1 {
    position:absolute;
    left:28%;
    top:7%;
    max-width: 8%;
}
#over_pin2 {
    position:absolute;
    left:38%;
   top:7%;
    max-width: 8%;
}
#over_pin3 {
    position:absolute;
    left:48%;
   top:7%;
    max-width: 8%;
}

.on{
    filter: invert(59%) sepia(11%) saturate(2134%) hue-rotate(73deg) brightness(97%) contrast(95%);
}